h2{
	background: #ccc;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;	
}

#left {
	background-color: #666;
    padding: 20px;
    margin-bottom: 20px;
    color: white; 
    text-align: center;	
}
#middle{
	background-color: #888;
    padding: 20px;
    margin-bottom: 20px;
    color: white; 
    text-align: center;	
}
#right{
	background-color: #666;
    padding: 20px;
    margin-bottom: 20px;
    color: white; 
    text-align: center;	
}
#full{
	background-color: #666;
    padding: 20px;
    margin-bottom: 20px;
    color: white; 
    text-align: center;	
}